# Frameworks Web et Serveurs
fastapi
uvicorn

# Clients HTTP
httpx[socks]
requests

# Validation et Serialization des Données
pydantic

# Manipulation de Texte et de Chaînes de Caractères
awesome-slugify
fuzzywuzzy
python-Levenshtein

# Gestion de l'Environnement
python-dotenv

# Base de Données et Caching
psycopg2
psycopg[binary]
redis

# Outils de Développement et Debugging
ddtrace
mypy
rich

# Bibliothèques de Sciences de Données et Mathématiques
numpy
scipy
scikit-learn
statsmodels

# Traitement de Fichiers et IO Asynchrone
aiofiles
pydub
soundfile

# Visualisation de Données
matplotlib

# Traitement d'Images et Vidéos
blurhash-python
selenium
webdriver-manager
yt_dlp

# Autres
random_user_agent
slowapi
typing
