fastapi>=0.68.0,<0.69.0
slowapi
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
requests
python-dotenv
fuzzywuzzy
typing
redis
psycopg2
python-Levenshtein
rich
selenium
webdriver-manager
yt_dlp
awesome-slugify
pydub
ddtrace
scipy
numpy
blurhash-python