# Frameworks Web et Serveurs
fastapi
uvicorn
websockets

# Validation et Serialization des Données
pydantic

# Traitement de Fichiers et IO Asynchrone
aiofiles
pydub
pillow

# Base de Données et Caching
psycopg[binary]
redis

# Gestion de l'Environnement
python-dotenv

# Outils de Développement et Debugging
ddtrace